*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    min-height: 100vh;
    position: relative;
    display: grid;
    place-items: center;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000b3;
    z-index: -1;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -2;
}

.welcome {color: white; font-family: 'Roboto', sans-serif; font-size: 5rem; text-decoration: none;}
.welcome:hover {border-bottom: white 2px solid;}


